<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>TechQuo</display-name>
  <welcome-file-list>
    <welcome-file>Home.jsp</welcome-file>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>UpdateProfileServlet</servlet-name>
    <servlet-class>controller.UpdateProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateProfileServlet</servlet-name>
    <url-pattern>/UpdateProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SearchQuestionServlet</servlet-name>
    <servlet-class>controller.SearchQuestionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchQuestionServlet</servlet-name>
    <url-pattern>/SearchQuestionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LogOutServlet</servlet-name>
    <servlet-class>controller.LogOutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogOutServlet</servlet-name>
    <url-pattern>/LogOut</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SearchUserServlet</servlet-name>
    <servlet-class>controller.SearchUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchUserServlet</servlet-name>
    <url-pattern>/SearchUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EnterAnswerServlet</servlet-name>
    <servlet-class>controller.EnterAnswerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EnterAnswerServlet</servlet-name>
    <url-pattern>/EnterAnswer</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetProfilePicture</servlet-name>
    <servlet-class>controller.GetProfilePicture</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetProfilePicture</servlet-name>
    <url-pattern>/GetProfilePicture</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegistrationServlet</servlet-name>
    <servlet-class>controller.RegistrationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrationServlet</servlet-name>
    <url-pattern>/RegistrationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoadPostsServlet</servlet-name>
    <servlet-class>controller.LoadPostsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadPostsServlet</servlet-name>
    <url-pattern>/LoadPosts</url-pattern>
  </servlet-mapping>
</web-app>